.menu {
  color: black;
  background-color: white;
  max-width: fit-content;
  border-radius: 5px;
}

.list {
  display: flex;
  color: black;
  background-color: white;
  box-shadow: 0 0 5px 0 #cccccc;
  border-top: 1px solid #cccccc;
}

.listItem {
  padding: 1rem 2rem;
  width: max-content;
  cursor: pointer;
}

.listItem:hover {
  color: cornflowerblue;
}

.arrow:after {
  content: "▼";
  font-size: 0.8rem;
  position: absolute;
  right: 8px;
  bottom: 16px;
  cursor: pointer;
}

.arrow:hover:after {
  content: "▲";
}

.menuItem,
.subMenuItem,
.nestedMenuItem {
  position: relative;
}

.subMenuItems,
.nestedMenuItems {
  display: none;
}

.menuItem:hover .subMenuItems {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
}

.subMenuItem:hover .nestedMenuItems {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 100%;
  top: 0;
}
